.App {
  text-align: center;
  overflow-y: visible;
}

.Background{
  position: absolute;
  width: 51vw;
  height: 70vh;
  background-color: #FFFFFF;
  top: 15vh;
  left: 24.5vw;
  text-align: center;
  overflow-y: auto;
  font-family: 'Roboto';
  overflow-x: hidden;
  
}

.title{
  font-family:'Gruppo', cursive;
  font-size: 300%;
}

.tabButton{
  width: 17vw;
  height:8vh;
  border: none;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.Coupon{
  min-width: 20vw;
  min-height: 15vh;
  display: block;
  margin-top: 2vh;
  margin-bottom:2vh;
  border-radius: 4px;
  color: #CECECE;
}

.couponHolder{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* Tab layout css*/
.bloc-tabs {
  display: flex;
  
}
.tabs {
  padding: 20px;
  text-align: center;
  width: 50vw;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-size: large;
  border: none;
  background-color: #FFFFFF;
}

.active-tabs  {
  border-bottom: 1px solid #06081C;
}

/* button {
  border: none;
  
} */
.content {
  width: 100%;
  height: 100%;
  display: none;
}
.active-content {
  display: block;
}
/*Tab layout css done*/

.flatCoupons{
  background-color: #3E4272;
}

.percentageCoupons{
  background-color: #3E726E;
}

.deleteButton{
  float: right;
  margin: 8px;
  width: 24px;
  height: 24px;
}