.App {
  text-align: center;
  overflow-y: visible;
  font-family: 'Quicksand', sans-serif;
}

.Background{
  position: absolute;
  width: 51vw;
  height: 70vh;
  background-color: #FFFFFF;
  top: 15vh;
  left: 24.5vw;
  text-align: center;
  overflow-y: auto;
  font-family: 'Roboto';
  overflow-x: hidden;
  
}

.title{
  font-family:'Gruppo', cursive;
  font-size: 300%;
}

.tabButton{
  width: 17vw;
  height:8vh;
  border: none;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.Coupon{
  min-width: 20vw;
  min-height: 15vh;
  display: block;
  margin-top: 2vh;
  margin-bottom:2vh;
  border-radius: 8px;
  color: #000000;
}

.couponHolder{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* Tab layout css*/
.bloc-tabs {
  display: flex;
  
}
.tabs {
  padding: 20px;
  text-align: center;
  width: 50vw;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-size: large;
  border: none;
  background-color: #FFFFFF;
}

.active-tabs  {
  border-bottom: 1px solid #0B3F7B;
}

/* button {
  border: none;
  
} */
.content {
  width: 100%;
  height: 100%;
  display: none;
}
.active-content {
  display: block;
}
/*Tab layout css done*/

.flatCoupons{
  background-color: rgba(123, 21, 11, 0.15);
}

.percentageCoupons{
  background-color: rgba(11, 114, 123, 0.15);
}

.deleteButton{
  float: right;
  margin: 8px;
  width: 24px;
  height: 24px;
}

.cartAmount{
  font-size: large;
  justify-content: space-between;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.couponCode{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.customButton{
  margin: 20px;
  padding-top:20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  border: none;
  font-size: larger;
  font-family:'Gruppo', cursive;
  border-radius: 4px;
  color:#000000;
  
}

.validateButton{
  background-color: #0B3F7B;
  color: #FFFFFF;
}

.displayVisible{
  visibility: visible;
}

.displayNone{
  display: none;
}

.pushRight{
  float: right;
  margin-top: -10px;
  margin-right:40px;
}